{% extends 'base.html.twig' %}

{% block title %}Apie - {{ parent() }}{% endblock %}

{% block menu %}
    <li><a href="{{ path('homepage') }}">Pradžia</a></li>
    <li class="active"><a href="{{ path('about') }}">Apie</a></li>
    <li><a href="{{ path('admin_index') }}">Admin</a></li>
{% endblock %}

{% block container %}
    <div class="row">
        <div>Apie..</div>
        <div>Apie..</div>
        <div>Apie..</div>
        <div>Apie..</div>
        <div>Apie..</div>
    </div>
{% endblock %}