{% extends "::base.html.twig" %}

{% block title %}ElastiCar - automobilių skelbimai{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block navigation %}
<nav class="navbar">

</nav>
{% endblock %}
{% block container %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/main-min.js") }}"></script>
{% endblock %}

{% block footer %}{% endblock %}
