{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'title_info' | trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% include '@App/Home/Components/navbar.html.twig' %}
    {% include '@App/Home/Components/search.html.twig' %}

    <div class="page">
        <div class="container" id="content">
            {% include '@App/Home/Components/description.html.twig' %}
        </div>
    </div>

    <footer id="footer" class="clearfix">
        {% include '@App/Home/Components/footer.html.twig' %}
    </footer>
{% endblock %}
