<div class="col-md-12">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Visitors stats <small>last hour</small></h3>

            <div class="box-body">
                <div class="col-md-8 col-sm-12">
                    {% include '@App/Admin/Components/chart.html.twig' with {'id': 'visitorsLastHourChart', 'height': '200'} %}
                </div>
                <div class="col-md-4 col-sm-12">
                    <p class="text-center">
                        <strong>354 clicks on ads</strong>
                    </p>

                    <div class="progress-group">
                        <span class="progress-text">Autogidas.lt</span>
                        <span class="progress-number"><b>145</b>/354</span>

                        <div class="progress sm">
                            <div class="progress-bar progress-bar-aqua" style="width: 41%"></div>
                        </div>
                    </div>
                    <!-- /.progress-group -->
                    <div class="progress-group">
                        <span class="progress-text">Autoplius.lt</span>
                        <span class="progress-number"><b>100</b>/354</span>

                        <div class="progress sm">
                            <div class="progress-bar progress-bar-red" style="width: 28.2%"></div>
                        </div>
                    </div>
                    <!-- /.progress-group -->
                    <div class="progress-group">
                        <span class="progress-text">Autobilis.lt</span>
                        <span class="progress-number"><b>68</b>/354</span>

                        <div class="progress sm">
                            <div class="progress-bar progress-bar-green" style="width: 19.2%"></div>
                        </div>
                    </div>
                    <!-- /.progress-group -->
                    <div class="progress-group">
                        <span class="progress-text">Automobilis.lt</span>
                        <span class="progress-number"><b>41</b>/354</span>

                        <div class="progress sm">
                            <div class="progress-bar progress-bar-yellow" style="width: 11.6%"></div>
                        </div>
                    </div>
                    <!-- /.progress-group -->
                </div>
            </div>
        </div>
    </div>
</div>