.description {
  line-height: 60px;
  font-weight:700;
  font-size: 48px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.form-inline .form-group{
  margin-left: 0;
  margin-right: 0;
}

.no-padding {
  padding-right:0;
  padding-left:0;
}