html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

hr {
  margin-bottom: 30px;
  width: 60%;
}

/* Search form */
.searchBox {
  border: 5px solid #e63a35 !important;
  border-radius: 3px;
}

.filters {
  padding: 5px !important;
}

.filters select {
  border-radius: 0px !important;
  border-color: #fff;
  background-color: #fff;
  cursor: pointer;
}

select:focus {
  outline: none;
}

button:focus {
  outline: none !important;
}

@media only screen and (min-device-width: 768px) {
  .border-right {
    border-right: 1px solid #FF3956 !important;
  }
}

#searchButton {
  margin-top: 3px;
  width: 100%;
  border-radius: 0px;
  background-color: #ed5955;
}

/* Provider-info */
.providers-info h1 {
  font-size: 15px;
  font-weight: 700;
}

.providers-info p {
  font-weight: 700;
}

/* Providers */
.providers {
  margin-top: 30px;
  margin-bottom: 60px;
}

.providers img {
  max-width: 150px;
  padding: 10px;
}

/* Most-popular */
.most-popular p {
  padding-left: 15px;
  font-size: 22px;
}

.most-popular_thumbnail img {
  max-width: 270px;
  max-height: 145px;
}

.most-popular_thumbnail {
  box-shadow: none;
  transition: box-shadow 0.3s;
}

.most-popular_thumbnail:hover {
  box-shadow: 0 0 3px #ED5955;
}

.most-popular_thumbnail p {
  font-size: 20px;
}

.most-popular_thumbnail--count {
  color: #808080;
}

/* Results */
#results {
  margin-top: 30px;
}

#results .results-row {
  margin-bottom: 15px;
}

.classified {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;

  border: 1px solid #808080 !important;
  border-radius: 3px;

  margin-top: 30px;

  cursor: pointer;
}

.classified .image img {
  max-width: 100px;
}

.classified .link {
  color: #337abb;
  font-size: 22px;
}

.classified .classified-icon {
  margin-right: 5px;
  border-radius: 25px;
  color: #FFFFFF;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 25px;
  background: #ed5955;
}

.classified-param {
  font-size: 17px;
}

.classified-params {
  margin-top: 15px;
}

.classified .logo img {
  max-width: 100px;
  max-height: 40px;
}

.description {
  line-height: 60px;
  font-weight:700;
  font-size: 48px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.form-inline .form-group{
  margin-left: 0;
  margin-right: 0;
}

.no-padding {
  padding-right:0;
  padding-left:0;
}
