body {
  padding-top: 70px;
  padding-bottom: 20px;
}

.thumbnail {
  box-shadow: 0;
  transition: box-shadow 1s;
  border: 1px solid #eee;
}

.thumbnail:hover {
  box-shadow: 0 0 3px #515151;;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: #999;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.footer p:last-child {
  margin-bottom: 0;
}