html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  margin-bottom: 60px;}

.thumbnail {
  box-shadow: 0;
  transition: box-shadow 0.7s;
  border: 1px solid #00a7d0;
}

.thumbnail:hover {
  box-shadow: 0 0 7px #00a7d0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #00a7d0;
}

.container {
  width: auto;
  max-width: 769px;
  padding: 0 15px;
  &__text {
    margin: 10px 0;
  }
}

.btn {
  background-color: #00a7d0;
}

.caption {
  text-align: center;
}