<h3>{{ 'model'|trans }}</h3>
<div class="dropdown category-dropdown" id="dropdown-model">
    <a data-toggle="dropdown" href="#" aria-expanded="false">
        <span class="change-text" id="dropdown-current-model-text" data-value="">{{ 'select'|trans }}</span>
        <i class="glyphicon glyphicon-chevron-down dropdown-icon"></i>
    </a>
    <ul class="dropdown-menu category-change" id="dropdown-model-ul">

    </ul>
</div>
