<footer class="footer">
    <div class="container">
        <p class="pull-right container__text"><a href="#">Į viršų</a></p>
        <p class="container__text">&copy; 2017 ElastiCar</p>
    </div>
</footer>